<nav class="container">
<div class="row no-gutters">
  <div class="left-nav col-12 col-md-4 order-2 order-md-1">
    <ul class="row no-gutters justify-content-around">
      <div *ngIf="isAuth" class="row no-gutters justify-content-around">
      <li class="col-12 my-3">
        <a routerLink="sauces" routerLinkActive="active">
          All sauces
        </a>
      </li>
      <li class="col-12 my-3">
        <a routerLink="new-sauce" routerLinkActive="active">
          Add sauce
        </a>
      </li>
      </div>
      <li *ngIf="!isAuth" class="col-12 mt-3">
        <a routerLink="signup" routerLinkActive="active">
          Sign Up
        </a>
      </li>
    </ul>
  </div>
  <div class="logo col-12 col-md-4 order-1 order-md-2">
    <div class="logo-image">
      <img src="../../assets/images/flame.png">
    </div>
    <div class="logo-text">
      <h1>
        Picante
      </h1>
      <h5>
        The best hot sauce rating app
      </h5>
    </div>
    <div class="logo-image">
      <img src="../../assets/images/flame.png">
    </div>
  </div>
  <div class="right-nav col-12 col-md-4 order-3">
    <ul class="row no-gutters justify-content-around">
      <li *ngIf="!isAuth" class="col-12 mt-3">
        <a routerLink="login" routerLinkActive="active">
          Sign In
        </a>
      </li>
      <li *ngIf="isAuth" class="col-12 mb-1 mt-4 mt-md-0 mb-md-5 logout">
        <a (click)="onLogout()">
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>

</nav>
<p *ngIf="showMessage === true"> {{headMessage}}</p>
