nav {  
  width: 100%;
  max-width: 1400px;  
  position: relative;
  top: 0;
  left: 0;
  border-bottom: thin solid black;
  padding-bottom: 40px;
}

h1 {
  font-weight: 700;
  font-size: 3.4em;
  margin: 0;
}

h5 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.logo-text {
  text-align: center;
}

.logo-image {
  img {
    height: 4.5em;
  }
  margin: 0.8em;
}

.left-nav, .right-nav {
  align-self: center;
}

ul {
  list-style: none;
  padding: 10px 0px;
  margin: 0;
  text-align: center;
}

li {
  font-size: 0.9rem;
}

a {
  color:black;
  font-weight: 600;
  text-decoration: none;  
  color: black;
  background-color: white;
  border: solid thin black;
  border-radius: 20px;
  padding: 5px 35px 10px 35px;   
  cursor: pointer;
  &:hover {
    padding: 5px 40px 10px 40px;    
  }  
}

.active {
  font-weight: 900;
  color: white;
  background-color: black;  
  border: solid thin black;
}

p {
  padding-top: 20px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: rgb(143, 30, 160);
}


