<nav>
  <div class="left-nav">
    <ul>
      <li>
        <a routerLink="sauces" routerLinkActive="active" *ngIf="isAuth">
          All sauces
        </a>
      </li>
      <li>
        <a routerLink="new-sauce" routerLinkActive="active" *ngIf="isAuth">
          Add sauce
        </a>
      </li>
      <li>
        <a routerLink="signup" routerLinkActive="active" *ngIf="!isAuth">
          Sign Up
        </a>
      </li>
    </ul>
  </div>
  <div class="logo">
    <div class="logo-image">
      <img src="../../assets/images/flame.png">
    </div>
    <div class="logo-text">
      <h1>
        Picante
      </h1>
      <h5>
        The best hot sauce rating app
      </h5>
    </div>
    <div class="logo-image">
      <img src="../../assets/images/flame.png">
    </div>
  </div>
  <div class="right-nav">
    <ul>
      <li>
        <a routerLink="login" routerLinkActive="active" *ngIf="!isAuth">
          Sign In
        </a>
      </li>
      <li>
        <a (click)="onLogout()" *ngIf="isAuth">
          LogOut
        </a>
      </li>
    </ul>
  </div>
</nav>
<p *ngIf="showMessage === true"> {{headMessage}}</p>
