<mat-spinner *ngIf="loading"></mat-spinner>
<p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
<form [formGroup]="signupForm" *ngIf="!loading">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email">
  </div>
  <p>Password must contain one capital, one lowercase, one number, one special caracter and be at least 8 caracters long. </p>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password">
  </div>
  <button mat-raised-button color="primary" [disabled]="signupForm.invalid" (click)="onSignup()">SIGN UP</button>
  
</form>
