<app-header></app-header>
<br>
<div id="warning" *ngIf="!isAuth">
  <p>Cette interface utilisateur provient de Openclassrooms et a été fournie dans le cadre d'un sujet du parcours "Développeur Web Junior".
    Vous pouvez la trouver sur Github en suivant ce lien : <a href="https://github.com/OpenClassrooms-Student-Center/dwj-projet6">Repository du front-end</a>.
  </p>
  <p>Le but étant de démontrer le bon fonctionnement de mon API sécurisée une fois déployée, ni les fonctionnalités ni l'apparence générale 
    de ce front-end assez sommaire n'ont été revues .<br/>
    Seuls ont été modifiés : les URL, ce qui concerne l'affichage des messages d'erreur pour les champs des formulaires et l'apparition momentanée des messages de réussite, 
    ainsi que les placeholders pour la création d'une nouvelle sauce. Cependant, le responsive n'étant initialement pas étudié pour une utilisation sur smartphone, concernant 
    le header et l'affichage d'une sauce en détail, un minimum de changements ont été effectués à l'aide de Bootstrap et un peu de CSS pour obtenir un affichage correct et efficient sur toutes tailles d'écran.
  </p>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
