.sauce-container {
  display: flex;
  
}

.frame {
  border: solid grey 1px;
  border-radius: 5px;
  padding: 40px 20px;
  background-color: white ;
}

img {
    max-width: 100%;
    padding: 40px 20px;
    /*flex: 1;*/
  }

.sauce-info {
  padding: 40px 20px;
  border: solid grey 1px;
  border-radius: 5px;
  background-color: rgb(244, 244, 244);
  /*flex: 1;*/
}

.manufacturer {
  margin: 0;
}

.sauce-name {
  margin: 0;
}

.like-buttons {
  display: flex;
  i {
    margin-right: 0.5em;
    cursor: pointer;
  }
}

.likes, .dislikes {
  margin: 0 0.4em;
}

.liked {
  color: rgba(51, 219, 0, 1);
}

.disliked {
  color: rgba(219, 51, 0, 1);
}

.like {
  &:hover {
    color: rgba(51, 219, 0, 1);
  }
}

.dislike {
  transform: scaleX(-1) translateY(5px);
  &:hover {
    color: rgba(219, 51, 0, 1);
  }
}

.disabled {
  cursor: none;
  &:hover {
    color: rgba(190, 190, 190, 1);
  }
  color: rgba(190, 190, 190, 1);
}

.control-buttons {
  button {
    margin: 1em 1em 0 0;
  }
}
